<body>

    <div class="game">
        <div class="warpper-game-area">
            <div class="game-area">
                <div class="game-field perspective red">
                    <div id="player">You<div class="player_hand">
                            <div class="card red" data-key="0">
                                <div class="bckg"></div>
                            </div>
                            <div class="card red" data-key="1">
                                <div class="bckg"></div>
                            </div>
                            <div class="card blue" data-key="0">
                                <div class="bckg"></div>
                            </div>
                            <div class="card blue" data-key="1">
                                <div class="bckg"></div>
                            </div>
                            <div class="card yellow">
                                <div class="bckg"></div>
                            </div>
                            <div class="card green">
                                <div class="bckg"></div>
                            </div>
                            <div class="card black">
                                <div class="bckg"></div>
                            </div>
                        </div>
                    </div>
                    <div id="player_left">Left Player<div class="player_hand">
                            <div class="card turned" data-index="0">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="1">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="2">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="3">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="4">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="5">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="6">
                                <div class="bckg"></div>
                            </div>
                        </div>
                    </div>
                    <div id="player_top">Top Player<div class="player_hand">
                            <div class="card turned" data-index="0">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="1">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="2">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="3">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="4">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="5">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="6">
                                <div class="bckg"></div>
                            </div>
                        </div>
                    </div>
                    <div id="player_right">Right Player<div class="player_hand">
                            <div class="card turned" data-index="0">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="1">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="2">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="3">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="4">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="5">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned" data-index="6">
                                <div class="bckg"></div>
                            </div>
                        </div>
                    </div>
                    <div id="piles_area">
                        <div id="draw_pile">
                            <div class="card turned top-card">
                                <div class="bckg"></div>
                            </div>
                            <div class="card turned pile">
                                <div class="bckg"></div>
                            </div>
                        </div>
                        <div id="discard_pile">
                            <div class="card top-card red">
                                <div class="bckg"></div>
                            </div>
                            <div class="card pile">
                                <div class="bckg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="warpper-game-chat">
            <input class="radio" id="one" name="group" type="radio" checked />
            <input class="radio" id="two" name="group" type="radio" />
            <div class="tabs">
                <label class="tab" id="one-tab" for="one">Game</label>
                <label class="tab" id="two-tab" for="two">Global</label>
            </div>
            <div class="game-panels">
                <div class="game-panel" id="one-panel">
                    <div class="panel-sett">Game Chat</div>
                </div>
                <div class="game-panel" id="two-panel">
                    <div class="panel-sett">Global Chat</div>
                </div>
            </div>
        </div>
    </div>
</body>