<body>

    <div class="game">
        <div class="warpper-game-area">
            <div class="game-area">Game Area</div>
        </div>
        <div class="warpper-game-chat">
            <input class="radio" id="one" name="group" type="radio" checked />
            <input class="radio" id="two" name="group" type="radio" />
            <div class="tabs">
                <label class="tab" id="one-tab" for="one">Game</label>
                <label class="tab" id="two-tab" for="two">Global</label>
            </div>
            <div class="game-panels">
                <div class="game-panel" id="one-panel">
                    <div class="panel-sett">Game Chat</div>
                </div>
                <div class="game-panel" id="two-panel">
                    <div class="panel-sett">Global Chat</div>
                </div>
            </div>
        </div>
    </div>
</body>