<body>
    <div class="welcome">
        <div id="slideshow-wrap">
            <input type="radio" id="button-1" name="controls" checked="checked" />
            <label for="button-1"></label>
            <input type="radio" id="button-2" name="controls" />
            <label for="button-2"></label>
            <input type="radio" id="button-3" name="controls" />
            <label for="button-3"></label>
            <input type="radio" id="button-4" name="controls" />
            <label for="button-4"></label>
            <input type="radio" id="button-5" name="controls" />
            <label for="button-5"></label>
            <label for="button-1" class="arrows" id="arrow-1">></label>
            <label for="button-2" class="arrows" id="arrow-2">></label>
            <label for="button-3" class="arrows" id="arrow-3">></label>
            <label for="button-4" class="arrows" id="arrow-4">></label>
            <label for="button-5" class="arrows" id="arrow-5">></label>
            <div id="slideshow-inner">
                <ul>
                    <li class="rule">
                        Rule #1
                        <div class="desc">
                            Uno is the highly popular card game played by millions around the globe. This game is played by
                            matching and then discarding the cards in one’s hand till none are left.
                        </div>
                    </li>
                    <li class="rule">
                        Setup
                        <div class="desc">
                            The game is for 2-10 players. Every player starts with seven cards, and they are dealt face down. The
                            rest of the cards are placed in a Draw Pile face down. Next to the pile a space should be designated
                            for a Discard Pile. The top card should be placed in the Discard Pile, and the game begins!

                        </div>
                    </li>
                    <li class="rule">
                        Rule #3
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita incidunt corporis distinctio esse
                            quas pariatur voluptate placeat voluptatum quisquam porro unde, error nisi doloribus beatae autem
                            repudiandae aut illo animi!
                        </div>
                    </li>
                    <li class="rule">
                        Rule #4
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita incidunt corporis distinctio esse
                            quas pariatur voluptate placeat voluptatum quisquam porro unde, error nisi doloribus beatae autem
                            repudiandae aut illo animi!
                        </div>
                    </li>
                    <li class="rule">
                        Rule #5
                        <div class="desc">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita incidunt corporis distinctio esse
                            quas pariatur voluptate placeat voluptatum quisquam porro unde, error nisi doloribus beatae autem
                            repudiandae aut illo animi!
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="welcome-text">
            Welcome to UNO
            <div class="welcome-text-sub"><a class="txt-shd" href="/signup">SignUp</a>
                or
                <a class="txt-shd" href="/login">Login</a>
                to Play</div>
        </div>
    </div>
</body>