<body>
    <div class="lobby">
        <div class="warpper">
            <input class="radio" id="one" name="group" type="radio" checked />
            <input class="radio" id="two" name="group" type="radio" />
            <div class="tabs">
                <label class="tab" id="one-tab" for="one">Create</label>
                <label class="tab" id="two-tab" for="two">Join</label>
            </div>
            <div class="panels">
                <div class="panel" id="one-panel">
                    <div class="panel-title">Choose Game Settings...</div>
                    <div class="panel-sett">
                        <form id="form" method="POST" action="/game/create" enctype="application/x-www-form-urlencoded">
                            <label>Lobby Name</label>
                            <input class="input" type="text" name="lobbyName" required />

                            <input class="button" type="submit" name="submit" value="Create" />

                        </form>
                    </div>
                </div>
                <div class="panel" id="two-panel">
                    <div class="panel-title">Available Lobbies...</div>
                    <div class="panel-sett">
                        {{#each results}}
                        {{>gameListing this}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <div id="message-container">
            <form id="send-container">
                <input class="input" id="message-input" style="height: 50px;" placeholder="Chat Here!"></input>
                <button type="submit" style="height: 50px;" id="send-button">
                    <i class="fa fa-arrow-up"></i>
                </button>
            </form>
            <div id="message-text"></div>
        </div>
</body>