@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap");

html,
body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(rgba(255, 0, 0, 0.5) 0.8px, transparent 0.8px),
        radial-gradient(hsla(246, 100%, 50%, 0.5) 0.8px, #ffffff 0.8px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
}

body {
    /* Font  */
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;

    /* Coloring */
    color: #111;
}

/* Links */
a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: none;
    color: black;
}

*:focus {
    outline: none;
}

/* nav */
.nav {
    background: url(/public/images/nav.svg);
    background-size: 100% 100%;
    width: 100%;
    height: 110px;
    position: fixed;
    z-index: 150;
}
.navbar {
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 90px;
    z-index: 150;
    flex-direction: row;
}

.navbar-items {
    display: flex;
    margin-left: auto;
    padding-right: 160px;
    font-size: 22px;
    padding-top: 18px;
}

.brand {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}

.brand-title {
    display: flex;
    font-size: 22px;

    align-items: center;
    justify-content: center;
}

.logo {
    display: inline-block;
    background: url(/public/images/logo.png);
    background-size: 100% 100%;
    height: 65px;
    width: 100px;
    margin: 0px 15px 0px 50px;
    vertical-align: top;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.main-nav li {
    margin: 5px;
    margin-left: 25px;
    display: flex;
}

/* Welcome Page */
.welcome {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}
.rules {
    padding: 250px;
    border: 2px black solid;
}
.welcome-text {
    display: flex;
    align-items: center;
    font-size: 80px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.welcome-text-sub {
    font-size: 40px;
}

#slideshow-wrap {
    display: block;
    height: 450px;
    min-width: 260px;
    max-width: 640px;
    /* margin: auto; */
    border: 2px black solid;
    box-shadow: -8px 8px #000000;
    position: relative;
    background-color: white;
}

#slideshow-inner {
    overflow: hidden;
    position: relative;
    width: 600px;
    height: 400px;
}

#slideshow-inner > ul {
    list-style: none;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;
    padding-left: 0;
    -webkit-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner > ul > li {
    width: 20%;
    height: 400px;
    float: left;
    position: relative;
}

#slideshow-inner > ul > li > img {
    margin: auto;
    height: 100%;
}

#slideshow-wrap input[type="radio"] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 50%;
    bottom: -45px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200, 200, 200, 1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#slideshow-wrap label:not(.arrows):active {
    bottom: -46px;
}

#slideshow-wrap input[type="radio"]#button-1:checked ~ label[for="button-1"] {
    background-color: black;
}

#slideshow-wrap input[type="radio"]#button-2:checked ~ label[for="button-2"] {
    background-color: black;
}

#slideshow-wrap input[type="radio"]#button-3:checked ~ label[for="button-3"] {
    background-color: black;
}

#slideshow-wrap input[type="radio"]#button-4:checked ~ label[for="button-4"] {
    background-color: black;
}

#slideshow-wrap input[type="radio"]#button-5:checked ~ label[for="button-5"] {
    background-color: black;
}

#slideshow-wrap label[for="button-1"] {
    margin-left: -36px;
}

#slideshow-wrap label[for="button-2"] {
    margin-left: -18px;
}

#slideshow-wrap label[for="button-4"] {
    margin-left: 18px;
}

#slideshow-wrap label[for="button-5"] {
    margin-left: 36px;
}

#slideshow-wrap input[type="radio"]#button-1:checked ~ #slideshow-inner > ul {
    left: 0;
}

#slideshow-wrap input[type="radio"]#button-2:checked ~ #slideshow-inner > ul {
    left: -100%;
}

#slideshow-wrap input[type="radio"]#button-3:checked ~ #slideshow-inner > ul {
    left: -200%;
}

#slideshow-wrap input[type="radio"]#button-4:checked ~ #slideshow-inner > ul {
    left: -300%;
}

#slideshow-wrap input[type="radio"]#button-5:checked ~ #slideshow-inner > ul {
    left: -400%;
}

label.arrows {
    font-size: 30px;
    color: black;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

label.arrows:hover {
    color: red;
}

label.arrows:active {
    margin-top: -23px;
}

input[type="radio"]#button-1:checked ~ .arrows#arrow-2,
input[type="radio"]#button-2:checked ~ .arrows#arrow-3,
input[type="radio"]#button-3:checked ~ .arrows#arrow-4,
input[type="radio"]#button-4:checked ~ .arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type="radio"]#button-2:checked ~ .arrows#arrow-1,
input[type="radio"]#button-3:checked ~ .arrows#arrow-2,
input[type="radio"]#button-4:checked ~ .arrows#arrow-3,
input[type="radio"]#button-5:checked ~ .arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type="radio"]#button-2:checked ~ .arrows#arrow-1 {
    left: -19px;
}

input[type="radio"]#button-3:checked ~ .arrows#arrow-2 {
    left: -37px;
}

input[type="radio"]#button-5:checked ~ .arrows#arrow-4 {
    left: -73px;
}

.rule {
    display: flex;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
    text-align: center;
}
.desc {
    font-size: 25px;
    padding: 30px;
}

/* Forms */
/* Container for all Cards */
.container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    overflow: hidden;
}

.login-card {
    margin: 30px;
    width: 450px;
    background-color: #fff;
    border: 2px solid #111;
    margin-bottom: 200px;
    box-shadow: 8px 8px #000000;
}

/* Registration Card */
.reg-card {
    margin: 30px;
    width: 650px;
    background: #ffffff;
    margin-bottom: 300px;
    border: 2px solid #111;
    box-shadow: 8px 8px #000000;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Input */
.input {
    margin: 15px 0 15px 0;
    line-height: 45px;
    width: 70%;
    border: 1px solid #e5e5e5;
    background: #e5e5e5;
    padding: 0 22px;
    font-size: 18px;
}

.input:hover {
    background-color: rgba(255, 72, 72, 0.527);
}

.password-eye {
    text-align: center;
    width: 100%;
    margin-left: -28px;
}

.password-eye i {
    margin-left: -50px;
    cursor: pointer;
}

::placeholder {
    color: #0d2a47;
    opacity: 0.8;
    font-size: 16px;
    font-family: "Chakra Petch", sans-serif;
}

/* Validation */
.check {
    width: 70%;
    text-align: center;
}

.age,
.policy {
    padding-top: 15px;
}

.error {
    width: 70%;
    text-align: left;
    font-size: 16px;
    padding: 3px;
    line-height: 20px;
    display: none;
}

.button {
    position: relative;
    margin: 20px 10px 20px 10px;
    border: 2px solid #111;
    background-color: rgb(255, 72, 72);
    color: #111;
    font-size: 22px;
    width: 300px;
    height: 48px;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
    box-shadow: 5px 5px #000000;
    transition: all 0.12s ease-in-out;
}
.button:focus {
    background-color: white;
    color: rgb(255, 72, 72);
    border: 2px solid rgb(255, 72, 72);
    box-shadow: 0px 0px #00000000;
}
.button-small {
    position: relative;
    border: 2px solid #111;
    background-color: rgb(255, 72, 72);
    color: #111;
    font-size: 22px;
    width: 120px;
    height: 45px;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
    box-shadow: 5px 5px #000000;
    transition: all 0.12s ease-in-out;
    margin-top: -50px;
}
.button-small:focus {
    background-color: white;
    color: rgb(255, 72, 72);
    border: 2px solid rgb(255, 72, 72);
    box-shadow: 0px 0px #00000000;
}

/* Lobby */
.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-right: 50px;
}
.warpper-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin-left: 20px;
}
.lobby {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}
.tabs {
    margin-bottom: -2px;
    z-index: 5;
}
.tab {
    cursor: pointer;
    padding: 10px 20px;
    background: #000;
    display: inline-block;
    color: #fff;
    border: 2px black solid;
    border-bottom: none;
}
.panels {
    border: 2px black solid;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    padding: 20px;
    box-shadow: 8px 8px #000000;
    background-color: #fff;
}
.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}
.radio {
    display: none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel {
    display: block;
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab {
    background: #fff;
    color: #000;
    border-bottom: none;
}
.panel-sett {
    padding-top: 75px;
}

.game {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    padding-top: 120px;
}

.game-area {
    border: black 2px solid;
    text-align: center;
    box-shadow: 8px 8px #000000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

/* CARDS STYLES */

#game-field {
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    grid-template-columns: 400px 450px 400px;
    grid-template-rows: 200px 300px 250px;
    display: grid;
}

#button-game-cont {
    position: absolute;
    background: white;
    width: 1250px;
    height: 750px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
#button-game {
    border: 2px solid #111;
    background-color: rgb(255, 72, 72);
    color: #111;
    font-size: 22px;
    width: 600px;
    height: 78px;
    text-align: center;
    cursor: pointer;
    font-family: "Chakra Petch", sans-serif;
    box-shadow: 5px 5px #000000;
    transition: all 0.12s ease-in-out;
    z-index: 5;
}

#button-game:focus {
    background-color: white;
    color: rgb(255, 72, 72);
    border: 2px solid rgb(255, 72, 72);
    box-shadow: 0px 0px #00000000;
}

.lobby-name {
    padding: 30px;
}
#piles-area {
    grid-area: 2/2;
}
#player {
    grid-area: 3/2;
}

#player-top {
    grid-area: 1/2;
}
#player-hand-top-top {
    position: absolute;
}

#player-hand,
#player-hand-top {
    position: relative;
    display: flex;
}

#player-hand > img,
#player-hand-top > img,
#player-hand-top-top > img {
    border: 2px solid #111;
    cursor: pointer;
    box-shadow: 2px 2px #000000;
    border-radius: 7px;
    margin-right: 8px;
}

#player #player-hand > img:hover {
    transform: rotate(5deg) translateY(-20px);
}

#piles-area {
    display: flex;
    align-items: center;
    margin-left: -150px;
}

#draw-pile {
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-self: center;
    border: 2px solid #111;
    border-radius: 7px;
    box-shadow: 0px 2px #fff, 0px 4px #000000, 0px 6px #fff, 0px 8px #000000, 0px 10px #fff, 0px 12px #000000, 0px 14px #fff,
        0px 16px #000000, 0px 18px #fff, 0px 20px #000000;
}

#draw-pile:hover {
    transform: rotate(2deg) translateY(-20px);
}

#discard-pile {
    display: flex;
    align-items: center;
}

#discard-pile > img {
    border: 2px solid #111;
    cursor: pointer;
    box-shadow: 2px 2px #000000;
    border-radius: 7px;
    margin-left: 15px;
    position: absolute;
}
/* HIDE RADIO */
[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
    border: 2px solid #111;
    cursor: pointer;
    box-shadow: 2px 2px #000000;
    border-radius: 7px;
    margin-right: 8px;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
    outline: 2px solid #f00;
}

#message-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background: #ffffff;
    padding: 0 15px 0 15px;
    border: 2px solid #111;
    box-shadow: 10px 10px #000000;
    height: 55vh;
    overflow-y: auto;
}
#message-container-game {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    background: #ffffff;
    padding: 0 15px 0 15px;
    border: 2px solid #111;
    box-shadow: 10px 10px #000000;
    height: 833px;
    overflow-y: auto;
}
#message-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#send-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#send-button {
    border: 0px solid #00000000;
    background: #ffffff;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    margin: 15px 0 15px 0;
    width: 70px;
}

.message {
    margin-top: 10px;
    max-width: 315px;
    display: flex;
    padding: 5px 0 5px 15px;
    border: 2px solid #111;
    box-shadow: 3px 3px #000000;
    overflow: auto;
    text-align: left;
}
